.test{
    color: white;
    text-align: center;
    font-size: 40px;
}

.test span{
    color: red;
}

.h1{
    color: red;
    font-size: 45px;
}
.h2{
    color: red;
    font-size: 45px;
}