* {box-sizing: border-box}
    
    .mySlides {display: none}
    img {vertical-align: middle;}

    .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    }

    .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    }

    .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    }

    .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    }

    .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    }

    .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    }

    .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
    background-color: #717171;
    }

    .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    }

    @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }

    @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
    }

/* set */
.main-container {
    padding: 90px;
}
.top-stories, .latest-news, .tournament-scores {
    margin-bottom: 30px;
    padding: 100px;
}
.top-stories img {
    width: 100%;
}
.top-stories h2, .latest-news h2, .tournament-scores h2 {
    font-size: 30px;
    margin-bottom: 10px;
    color: red;
}
.news-item, .score-item {
    background-color: #222;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
    
}
.news-item img {
    width: 300px;
    margin-right: 30px;
}
.news-item p, .score-item p {
    margin: 100;
    
}
.view-more {
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px 0;
    padding: 10px;
    background-color: #f00;
    color: #fff;
    text-decoration: none;
}
